@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


.carusel-main {
  position: relative;
  right: 600px;
  width: 1200px;
  height: 400px;
  overflow-x: scroll;

}

.carusel-main::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.wrapper {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.motion-div {
  width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: default;

}

.viewport {
  width: 0.1px;
  overflow: visible;
  align-items: center;
}

.motion-img {
  border-radius: 15px;
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.motion-null {
  width: 400px;
  height: 250px;
  cursor: default;
}

.motion-p {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.13538em;
  color: #000000;
}